absl-py
addict
anyio
argon2-cffi
astunparse
async-generator
attrs
babel
backcall
bleach
cached-property
cachetools
cffi
charset-normalizer
contextvars
cython
dataclasses
decorator
defusedxml
deprecation
entrypoints
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
immutables
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
keras-preprocessing
markdown
markupsafe
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
ninja
notebook
numpy
oauthlib
open3d
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pygments
pymcubes
pyparsing
pyrsistent
pyyaml
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
send2trash
sniffio
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tomlkit
tqdm
traitlets
trimesh
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
werkzeug
widgetsnbextension
wrapt
zipp